<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/custom-layout">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <style type="text/css">

        .list-flex{
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        .tag-list{
            display: flex;
            flex-wrap:wrap;
        }

        .tag-list a{
            margin: 5px 12px !important;
        }

        #manage-menu .item{
            text-align:center
        }

    </style>
</head>
<body>

<div layout:fragment="content" >

    <div class="ui container" style="margin: 20px auto">

        <div class="ui grid">

            <div class="four wide column">
                <div class="ui center fluid secondary vertical pointing menu" id="manage-menu">
                    <a class="item category" th:href="@{/user/manage/category}">
                        分类管理
                    </a>
                    <a class="item tags" th:href="@{/user/manage/tags}">
                        标签管理
                    </a>
                    <a class="item article" th:href="@{/user/manage/article}">
                        文章管理
                    </a>
                </div>
            </div>

            <div class="twelve wide stretched column">
                <div th:replace="${page}::${content}"></div>
            </div>
        </div>

    </div>


    <script type="text/javascript" th:inline="javascript">

        var requestURL = [[${#request.requestURL}]];
        $("#manage-menu .item").removeClass("active");

        if(requestURL.indexOf('category') > 0){
            $("#manage-menu").find(".category").addClass("active");
        }else if(requestURL.indexOf('tags') > 0){
            $("#manage-menu").find(".tags").addClass("active");
        }else {
            $("#manage-menu").find(".article").addClass("active");
        }

    </script>

</div>

</body>
</html>