<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/custom-layout">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>

    <style type="text/css">

        .tag-list{
            display: flex;
            flex-wrap:wrap;
        }

        .tag-list a{
            margin: 5px 12px !important;
        }
    </style>
</head>
<body>

<div layout:fragment="content" >

    <div class="ui container">

        <div class="ui grid">

            <div class="four wide column">
                <div class="ui fluid secondary vertical pointing menu">
                    <a class="item active">
                        主页
                    </a>
                    <a class="item">
                        信息
                    </a>
                    <a class="item">
                        朋友
                    </a>
                </div>
            </div>

            <div class="twelve wide stretched column">
                <div class="ui segment">
                    sdsdfds
                </div>

            </div>
        </div>

    </div>





    <div class="ui text container">

        <!-- 标签可以随意删除及添加 ，公共标签再这里只做展示，不能修改-->
        <div class="ui fluid card">
            <div class="content">
                <div class="header">私有分类管理</div>
            </div>

            <div class="content" id="private-tags">
                <div class="tag-list">
                    <a class="ui tag label">标签<i class="delete icon"></i></a>
                    <a class="ui tag label">标签<i class="delete icon"></i></a>
                </div>

            </div>

            <div class="content" >
                <div class="ui action left icon input">
                    <i class="tags icon"></i>
                    <input type="text" placeholder="输入标签" id="tag">
                    <button class="ui green button" onclick="addTags()">添加</button>
                </div>
            </div>

        </div>

        <div class="ui fluid card">
            <div class="content">
                <div class="header">公共标签</div>
            </div>
            <div class="content">
                <div class="tag-list">
                    <a class="ui teal tag label">未来</a>
                    <a class="ui teal tag label">未来</a>
                    <a class="ui teal tag label">未来</a>
                    <a class="ui teal tag label">未顶顶顶来</a>
                    <a class="ui teal tag label">未地方都是来</a>
                    <a class="ui teal tag label">未fds来</a>
                </div>

            </div>

        </div>
    </div>


    <script>

        $(function () {
            
        });

        var tagsNum = 0;

        function addTags() {
            if(tagsNum > 0){
                $("#private-tags").show()
            }

            var v = $("#tag").val();
            /* 为空判断*/
            if($.trim(v) == ''){
                return;
            }

            $("#private-tags .tag-list").append('<a class="ui tag label">'+v+'<i class="delete icon"></i></a>')

            $("#tag").val("");
        }

    </script>

</div>

</body>
</html>