<!DOCTYPE html>
<html lang="zh">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>demo</title>

    <link rel="stylesheet" type="text/css" href="./static/semantic/semantic.min.css" />
    <script type="text/javascript" src="./static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="./static/semantic/semantic.min.js"></script>

</head>
<body>

<div class="ui container">

    <div th:include="components/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:include="components/footer :: footer"></div>

</div>

</body>
</html>